<tr>
  <td><%= link_to unknown_report.filename, unknown_report_path(unknown_report) %></td>
  <td><%= unknown_report.type %></td>
  <td><%= unknown_report.analyzed_at.strftime('%b %d, %Y') %></td>
  <td>Unknown report type</td>
</tr>
