<%= breadcrumbs_helper([
  { text: 'Dashboard', path: root_path },
  { text: 'Bulksheets', path: bulksheets_path }
]) %>

<div class="row">
  <div class="col-md-12">
      <%= link_to 'Upload Bulksheet', new_bulksheet_path, class: 'btn btn-sm btn-success' %>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Analyzed</th>
          <th>Imported</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'bulksheet', collection: @bulksheets %>
      </tbody>
    </table>
  </div>
</div>
