<table class="table my-3 table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Ad Group</th>
      <th>Search Term</th>
      <th>Keyword</th>
      <th>Date</th>
      <th>Impressions</th>
      <th>Clicks</th>
    </tr>
  </thead>
  <tbody>
    <%= render items %>
  </tbody>
</table>
