<%= breadcrumbs_helper([
  { text: 'Dashboard', path: root_path },
  { text: 'Keywords', path: keywords_path }
]) %>

<table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Ad Group</th>
      <th>Term</th>
      <th>Match Type</th>
      <th>Reported Days</th>
      <th>Impressions</th>
      <th>Clicks</th>
      <th>CTR</th>
      <th>Spend</th>
      <th>Sales</th>
      <th>ACoS</th>
    </tr>
  </thead>
  <tbody>
    <%= render @keywords %>
  </tbody>
</table>
