<table class="table my-3 table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <thead>
    <tr>
      <th colspan=10></th>
      <th colspan=2>Totals</th>
      <th colspan=8>7 Day</th>
    </tr>
    <tr>
      <th>Campaign</th>
      <th>Ad Group</th>
      <th>Keyword</th>
      <th>Date</th>
      <th>Impressions</th>
      <th>Clicks</th>
      <th>CTR</th>
      <th>CPC</th>
      <th>Spend</th>
      <th>ACoS</th>
      <th>RoAS</th>
      <th>Sales</th>
      <th>Orders</th>
      <th>Units</th>
      <th>Conv. Rate</th>
      <th>Adver. SKU Units</th>
      <th>Other SKU Units</th>
      <th>Adver. SKU Sales</th>
      <th>Other SKU Sales</th>
    </tr>
  </thead>
  <tbody>
    <%= render items %>
  </tbody>
</table>
