<tr>
  <td><%= link_to report.filename, report_path(report) %></td>
  <td><%= link_to 'Analyze', analyze_report_path(report), method: :post, class: 'btn btn-sm btn-primary' %></td>
  <td></td>
  <td></td>
</tr>
